/* .loginPage {
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;

}

h2 {
    background-color: blue;
} */

/* .loginPage {
    background-color: #90e0ef;
}

.loginForm {
    background-color: #0077b6;

} */



img {
    width: 120px;
}

.student_image {
    width: 80px;
    height: 80px;
    border-radius: 12%;
}

@media print {
    .action-buttons {
        display: none;
    }

    .hide-on-print {
        display: none;
    }

}

.table-container {
    max-height: 500px;
    overflow: auto;
}

.table-container table {
    width: 100%;
}

.home {
    margin: 0;
    padding: 0;
    background-image: url(/Images/background.png);
    /* Replace with the actual path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

/* body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#0000ff, #ff00ff);
} */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #ffe4e1;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffe4e1;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #0398f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffe4e1);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffe4e1);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffe4e1);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    position: relative;
}

.number {
    background-color: #ccc;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.user-details h3 {
    font-weight: normal;
    text-align: center;
}

.user-img-container {
    display: flex;
    justify-content: flex-end;
}

.user-img {
    width: 200px;
    height: auto;
}

.highlight {
    font-weight: bold;
    color: blue;
    /* Adjust the color as needed */
    /* You can add additional styles like font-size, etc. */
}